.container {
    width: 1280px;
    margin: 0 auto;
}
/*LOGO*/
.ramda-logo {
    display: inline-block;
    margin-top: 40px ;
    color: #4bcaff;
    font-family: "Myriad Pro", sans-serif;
    font-size: 80px;
    text-decoration: none;
}
.special-in-logo {
    font-family: "Myriad Pro", sans-serif;
    color: #000;
}
.logo-link{
    text-decoration: none;
}
/*LOGO End*/

/* Navbar */

    .top-navbar-menu{
        margin-top: 50px;
        background-color:#35444f;
        /* border-radius: 10px; */
        text-align: center;
        height: 70px;
    }

    .navbar-menu-item{
        display: inline-block;
        /* margin-top: 23px;
        margin-bottom: 23px; */
        
       
        
    }
    .navbar-menu-item:hover{
        background-color:#222f3a;
    } 
    

    .navbar-menu-link{
        display: inline-block;
        font-family: 'Myriad Pro', sans-serif;
        color:#fff;
        font-size: 24px;
        text-decoration: none;
        padding: 23px 42px;
       
    }
  
    
/*Navbar End*/

/*Leftbar*/

        .left-bar-menu{
            display: inline-block;
            width: 344px;
            height: 396px;
            border: 1px solid;
            margin-top: 50px;
        }

        .bar-menu-item{
            display: inline-block;
            padding-top: 25px;
            padding-bottom: 25px;
            padding-left: 45px; 
            width: 279px; 
            

        }

        .bar-menu-link{
        display: inline-block;
        font-family: 'Myriad Pro',sans-serif;
        color:#485863;
        font-size: 29px;
        text-decoration: none;

        }

        .bar-menu-item:hover{
            background-color:#dbdbdb;
            padding-left: 65px;
            

            
        }
        
/*Leftbar End*/


/* Block-with-image*/
        .block-with-image{
            display: inline-block;
            width: 885px;
            height: 600px;
            border: 1px solid;
            float: right;
            margin-top: 50px;
            text-align: center;
        }
        
        .main-page-image{
            display: inline-block;
            margin-top: 94px;
            margin-bottom: 94px;
        }
        .main-page-image:hover{
            -webkit-transform: scale(1.2,1.2);
            -webkit-transition-timing-function: ease-out;
            -webkit-transition-duration: 550ms;
            -moz-transform: scale(1.2,1.2);
            -moz-transition-timing-function: ease-out;
            -moz-transition-duration: 550ms;
        }

/* Block-with-image End*/

/* Main text on page */

        .main-text-on-page{
            display: inline-block;
            font-family: sans-serif;
            font-size: 20px;
            color: #2c2b2b;
            font-weight: 400;
            margin-top: 50px;
            width: 815px;
            /* float: right; */
            margin-left: 450px;
            line-height: 18px;
            
                   
           
           
        }

        .second-paragraph{
            margin-top: 30px;
        }

/* Main taxt on page*/


        .footer-menu{
           
            background-color: grey;
            margin-top: 50px;
            /* border-radius: 10px; */
            margin-bottom: 20px;
        }

        .footer-item{
            display: inline-block;
            
            
            
            
        }

        .footer-link{
            display: inline-block;
            font-family: 'Myriad Pro', sans-serif;
            color:#fff;
            font-size: 24px;
            font-weight: 400;
            text-decoration: none;
            margin: 23px 22px;
        }

        .footer-link:hover{
            color: rgb(90, 90, 170);
            text-decoration: underline;
            

            
        }
        .special-in-footer:hover{
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;

        }

        .copyright{
            display: inline-block;
            margin-left:150px;
            font-family: 'Myriad Pro',sans-serif;
            color:#010000;
            font-size: 24px;
            font-weight: 400;

            
        }
#change-theme{
    position: absolute;
    top:20px;
    left: 100px;
}







