.header-bg{
    background-image: url(../img/main-bg.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 112px;
    background-attachment: fixed;
}
.sertiz{
    position: absolute;
    top:530px;
    left: 86px;
}
.logo-sertiz{
    font-family: "Montserrat",sans-serif;
    color:  #ffffff;
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
}
.awesome{
    font-family: "Lato",sans-serif;
    color:  #ffffff;
    font-size: 18px;
    font-weight: 400;
    padding-top: 10px;
}
.make-smart-design{
    position:absolute;
    top: 626px;
    left:86px;
    border: 1px solid #e4f9f1;
    margin-top: 30px;
}
.smart-design{
    padding-right: 56px;
    font-family: "Montserrat",sans-serif;
    color:  #ffffff;
    font-size: 54px;
    font-weight: 700;
    text-transform: uppercase;
    background-color:  rgba(0, 0, 0, 0.3);
}
.we{
    font-family: "Montserrat",sans-serif;
    color:  #f1ad1d;
    font-size: 54px;
    font-weight: 700;
    display: inline-block;
    box-sizing: border-box;
    background-color: #fff;
    padding: 40px 30px;
}
.about-us{
    text-align: center;
    margin-bottom: 135px;
}
.section-title{
    font-family: "Montserrat",sans-serif;
    color:  #333333;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 35px;
}
.section-discription{
    font-family: "Lato",sans-serif;
    color:  #4d4943;
    font-size: 17px;
    font-weight: 400;
}
/* .section-discription{
    content: "";
    display: block;
    background-color: #f1ad1d;
    width: 60px;
    height: 3px;
    border: none;
    margin: 30px auto 0;
} */
.border-orange::after{
    content: "";
    display: block;
    background-color: #f1ad1d;
    width: 60px;
    height: 3px;
    border: none;
    margin: 30px auto 0;
}
.ideas-bg{
    background-image: url(../img/bg-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 380px;
    margin-bottom: 135px;
    background-attachment: fixed;
    /* position: relative; */
    display: flex;
    justify-content: center;
}
.change-idea{
    padding-top: 150px;
    font-family: "Montserrat",sans-serif;
    color:  #ffffff;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
}
.secret{
    text-align: center;
    margin-bottom: 180px;
}
.featured-bg{
    background-image: url(../img/bg-3.jpg);
    height: 475px;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 160px;
    display: flex;
    justify-content: center;
    position: relative;
}
.featured{
    padding-top: 150px;
    font-family: "Montserrat",sans-serif;
    color:  #ffffff;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

