body{
    margin:0;
}
.top-menu{
    text-align: center;
    padding-top: 32px;
    padding-bottom: 35px;
    margin: 0 auto;
}
.top-link-menu{
    font-family: Roboto,sans-serif;
    color: #16a085;
    font-size: 20px;
    font-weight: 900;
    text-decoration: none;
    margin-left: 32px;
    margin-right: 32px;
    text-transform: uppercase;
}
.top-link-menu:hover{
    color:black;
}
.general-img{
    text-align: center;
    margin: 0 auto;
}
.image-yes{
    width:100%;
}

.content-all{
    background-color: #f5f6f7;
    padding-bottom: 94px;
    text-align: center;
    font-family: Roboto,sans-serif;
    color: #373737;

 
}
.text-header{
   font-size: 22px;
    font-weight: 900;
    text-transform: uppercase;
    opacity: 0.8;
    margin:0 auto;
    padding-top: 59px;

}
.text-p{
    font-size: 16px;
    font-weight: 900;
    line-height: 26px;
    padding-left: 113px;
    padding-right: 108px;
    padding-top: 34px;
    margin: 0 auto;
    text-align: center;
}
.main-content{
    margin-bottom: 41px;
    font-family: sans-serif;
    opacity: 0.8;
    
}
.button{
    margin:0 auto;
    border-radius: 3px;
    background-color: #16a085;
    width: 192px;
    height: 51px;
    text-align: center;
}
.get-started{
    font-family: GothamRounded,sans-serif;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
}
.button:hover{
    background-color: blueviolet;
}
.get-started:hover{
    font-size: 24px;
}
.copyright{
    text-align: right;
    font-family: Roboto,sans-serif;
    color: #373737;
    font-size: 20px;
    font-weight: 900;
    margin: 47px 104px 45px 768px;
}
