body{
    background-image: url(../img/bg-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}
header{
    background-color: rgba(0, 0, 0, 0.41);
    margin-bottom: 65px;
    width: 100%;
}
.logo{
   padding:20px 0;

}
.logo-link{
    text-decoration: none;
    display: inline-block;
    padding-left: 81px;
}
.logo-text{
    font-family: "Verdana",sans-serif;
    color:#fff;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}
.logo-text:hover{
    color:#3cb878;
}
/* Sprites Start */
.sprites{
    /* background-image: url(../img/sprite.png); */
    position: absolute;
    top:18px;
    right:350px;
    margin-right: 28px;
    border-right: 1px solid rgb(48, 47, 44);;
}
.sprite { background: url("../img/sprite.png") no-repeat top left; 
    display: inline-block;
    cursor: pointer;
    margin-right: 28px;
} 
.sprite.calendar-white { 
    background-position: -19px 0px; width: 19px; height: 19px; 
    transition: all 0.2s ease-out;
} 
.sprite.forum-white { 
    background-position: -66px 0px; width: 28px; height: 20px;  
    transition: all 0.2s ease-out;
} 
.sprite.journey-white { 
    background-position: -114px 0px; width: 20px; height: 20px;  
    transition: all 0.2s ease-out;
} 
.sprite.calendar-white:hover{
    background-position: 0px 0px;
}
.sprite.forum-white:hover{
    background-position: -38px 0px;
}
.sprite.journey-white:hover { 
    background-position: -94px 0px;  
} 
/* Sprite End */

.welcome{
    position: absolute;
    top:20px;
    right:155px;
}
.welcome-text{
    font-family: "Verdana",sans-serif;
    color:#ffffff;
    font-size: 14px;

}
.reg-links{
    font-family: "Verdana",sans-serif;
    color:#3cb878;
    font-size: 14px;
    text-decoration: none;
    
}
.reg-links:hover{
    border-bottom: 1px solid green;
}

.sign-area{
    width: 445px;
    height: 584px;
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
   
}
.box{
    display: inline-block;
    background-color: #3cb878;
    width: 20px;
    height: 20px;
}
.sign-text{
    box-sizing: border-box;
    margin-top: 30px;
    margin-left: 40px;
    font-family: sans-serif;
    font-size: 20px;
    display: inline-block;
}
.reg{
    display: inline-block;
    color:#3cb878;
    text-decoration: none;
    position: absolute;
    right:55px;
    top: 35px;
}
.reg:hover{
    border-bottom: 1px solid #3cb878;
}
.buttons{
    padding-top: 20px;
    margin-left: 20px;
    text-align: center;
}
.loginBtn{
    box-sizing:border-box;
    position: relative;
    margin-right: 8px;
    padding: 0 15px 0 46px;
    border: none;
    height: 46px;
    width: 157px;
    border-radius: 3px;
    font-size: 16px;
    color: #FFF;
    
}
.loginBtn:before{
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 100%;
    
}
  .loginBtn--facebook {
    background-color: #4C69BA;
    font-family: "Helvetica neue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    text-shadow: 0 -1px 0 #354C8C;
    
}
.loginBtn--facebook::before {
    border-right: #364e92 1px solid; 
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 5px 12px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
    background-color: #5B7BD5;
    background-image: linear-gradient(#5B7BD5, #4864B1);
}
.loginBtn--google {
    font-family: "Roboto", Roboto, arial, sans-serif;
    background: #DD4B39;
  }
  .loginBtn--google::before {
    border-right: #BB3F30 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 5px 12px no-repeat;
  }
  .loginBtn--google:hover,
  .loginBtn--google:focus {
    background: #E74B37;
  }

  /* OR Start */

  .or{
     position: absolute;
     top:142px;
     left: 220px;
  }
  .word-or{
    font-family: "Verdana",sans-serif;
    color:  #848484;
    font-size: 14px;
  }
  .word-or::before{
    content: "";
    display: inline-block;
    width: 139px;
    position:absolute;
    border-bottom: 1px solid #848484; 
    right: 30px;
    top:50%;
  }
  .word-or::after{
      content: "";
      display: inline-block;
      width: 139px;
      position: absolute;
      border-bottom: 1px solid #848484; 
      left: 30px;
      top:50%;
  }

  .form-sign-in{

      position: absolute;
      top:168px;
      left: 62px;
      
  }
  .input-area{
      display: block;
      width: 322px;
      height: 40px;
      margin-top: 15px;
      border-radius: 5px;
      border: 1px solid rgb(235, 235, 235);;
      font-size: 14px;
      outline:none;
      padding-left: 17px;
      
      
}
.input-area:focus{
    background-color: rgba(255, 255, 255, 0.4); 
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.5);
    /* border: 1px solid transparent; */
    color: #434343;
    font-family: "Verdana",sans-serif;
   
}
.input-area::placeholder{
    font-family: "Verdana",sans-serif;
    color:  #bebebe;
    font-size: 14px;
    /* padding-left: 17px; */
    
    
}
.checkbox{
  margin-top: 30px;
  display: block;
}
.agree-p{
    position: absolute;
    left: 92px;
    bottom: 80px;
    font-family: "Verdana","Courier",sans-serif;
    font-size: 16px;
    
}
.agree-link{
    font-family: "Verdana","Courier",ss;
    font-size: 14px;
    color: #3cb878;
    text-decoration: none;
}

.but{
    display: block;
    background-color: green;
    border-radius: 3px;
    border:none;
    padding: 17px 100px;
    display: inline-block;
    font-family: "Verdana","Courier",sans-serif;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}
.but:hover{
    cursor: pointer;
}



  
  






