.body{
    height: 100vh;
    width: 100vw;
    background-image:url(../img/background-Milan.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
header{
    padding-top: 50px;
}
.header-content{
    display: flex;
    justify-content: space-between;
}
.logo{
    background-image: url(../img/logo.png);
    width: 46px;
    height: 44px;
    background-repeat: no-repeat;
    display: inline-block;
}
.milan-text{
    font-family: "Verdana",sans-serif;
    color:#ffffff;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
}
.small-logo{
    font-size: 20px;
}
.contacts{
    font-family: "Verdana",sans-serif;
    color:  #ffffff;
    font-size: 18px;
    padding-top: 8px;
    text-align: right;
}
/* .content{
    margin-top: 50px;
} */
.tours{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.img-grad{
    background: linear-gradient(to bottom, #fff, #000);
    padding: 1px;
    border: 1px solid #333;
}
.tour-link{
    text-decoration: none;
    position: relative;
    text-align: center;
    padding-top: 60px;
}
.text-tours{
    padding-top: 20px;
    /* padding-bottom: 60px; */
    font-family: sans-serif;
    font-size: 18px;
    color: rgba(255, 255, 255, 255);
}
.menu{
    width: 309px;
    height: 62px;
    background-color: rgb(242, 101, 34);
    position:absolute;
    top: 201px;
    left: 1px;
    opacity: 0;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    transition: all 0.5s;
    display: flex;
    justify-content: space-between;
}
.menu-item{
    padding-left: 21px;
    padding-top: 16px;
    font-family: "Verdana",sans-serif;
    color:  #ffffff;
    font-size: 10px;
}
.from{
    text-align-last: left;
}
.price{
    font-family: "Verdana",sans-serif;
    color:  #ffffff;
    font-size: 20px;
}
.price::before{
    content: "\20AC";
    font-size: 20px;
    font-family: "Verdana",sans-serif;
}
.discription{
    font-family: "Verdana",sans-serif;
    color:  #ffffff;
    font-size: 14px;
    padding-top: 30px;
    padding-right: 20px;
}
.discription::after{
    content:"\203A";
    display: inline-block;
    width: 7px;
    height: 10px;
    margin-left: 10px;
    opacity: 0.5;
}

footer{
    margin-top: 60px;
}
.flex-footer{
    display: flex;
    justify-content:center;
}
.copyright{
    font-family: sans-serif;
    font-size: 15px;
    color: rgba(255, 255, 255, 255);
}
.copyright::before{
    content:"\00A9";
    margin-right: 7px;
}
.tour-link:hover .menu{
    opacity:1;
}
.tour-link:hover .text-tours{
    color: rgb(242, 101, 34);
}







