body{
    font-family: "Arimo",sans-serif;
}
.container{
    width: 1192px;
    border: 30px solid blue;
    margin: 0 auto;
}
table{
    width: 100%;
}
tr{
    text-transform: uppercase;   
    text-align: center;
}
td, th{
    
    border: 1px solid #dbdbdb;
    box-shadow: 0 0 5px #dbdbdb;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;

}
.choose{
    background-color:  #fafafa;
    width: 310px;
     color:  #484848;
    font-size: 18px;
    font-weight: 700;
    vertical-align: middle;
}
.pricing-plan{
    color:  #484848;
    font-size: 30px;
    font-weight: 700;
    display: inline-block;
    
}
.plans th:nth-child(2){
    background-color:  #89c331;
    padding: 27px 73px;
    color:  #ffffff;
    font-size: 24px;
    font-weight: 700;
    
}
.plans th:nth-child(3){
    background-color:  #f04a56;
    padding: 27px 73px;
    color:  #ffffff;
    font-size: 30px;
    font-weight: 700;
}
.plans th:nth-child(4){
    background-color:  #20807c;
    padding: 27px 73px;
    color:  #ffffff;
    font-size: 24px;
    font-weight: 700;
}

.cost th{
    color:  #484848;
    font-size: 60px;
    font-weight: 700;
    text-align: left;
    padding-left: 34px;
    position: relative;
    height: 86px;
    vertical-align: middle;
    background-color:  #fafafa;
    
}
.cost th::before{
    content:"$";
    font-size: 60px;
}
.a{
    display: inline-block;
    position: absolute;
    height: 50px;
    bottom: 48px;
}
.cents{
    color:  #484848;
    font-size: 24px;
    font-weight: 700;
}
.perMonth{
    color:  #484848;
    font-size: 18px;
    font-weight: 400;
}
tbody tr td{
    padding:28px;
}
i{
    margin-right: 5px;
}
tfoot tr td{
    padding: 50px;
}
tfoot tr td:nth-child(1){
    background-color:   #dedede;;
}
tfoot tr td:nth-child(2){
    background-color: #efefef;
}
tfoot tr td:nth-child(3){
    background-color: #efefef;
}
tfoot tr td:nth-child(4){
    background-color: #efefef;
}
.button{
    text-decoration: none;
    color:  #ffffff;
    font-size: 16px;
    font-weight: 700;
    border-radius: 5px;
    border-bottom: 2px solid transparent;
    padding: 19px 45px;
    transition: all 0.5s;
}
.button:hover{
    color: aqua;
    background-color: rgb(2, 47, 77);
    border-bottom: 2px solid red;
}

.contact-us{
    background-color:  #484848;
    /* padding: 19px 45px; */
}
.buy-standart{
    background-color:  #89c331;
}
.buy-ultimate{
    background-color:  #f04a56;
}
.buy-premium{
    background-color:  #20807c;
}
tbody tr:nth-child(odd){
    background-color:  #f2f3f3;
}
tbody tr:nth-child(even){
    background-color: #e4e4e4;
}
